header, main{
  margin:10px;
  background:#E667AF;
  color:#FFFFFF;
  text-align:center;
  width:780px;
}
nav a{
  background:#679B00;
  color:#FFFFFF;
  margin:20px;
  padding:15px;
  width:50px;
  text-decoration:none;
  border-radius:10px;
}
nav{
  width:600px;
  text-align:left;
  padding:20px;
}
main{
  height:380px;
  
}
.picture{
  float:left;
 margin:20px;

}
.text{
   margin:20px;
  float:right;
  text-align:left;
  width:320px;
  height:320px;
  border:solid white;
}
footer{
   margin:10px;
  height:50px;
  background:#86B32D;
  color:#FFFFFF;
  width:780px;
}
